<div class="no-chat hidden">
	<span>No chat selected</span>
</div>
<div class="chat-contain">
	<div class="chat-header">
		<div class="chat-header-wrap">
			<div class="chat-title">{{chat.title}}</div>
			<div class="chat-subtitle">{{chat.subtitle}}</div>
		</div>
	</div>
	<div class="messages-contain">
		<!-- messages  -->
	</div>
	<div class="input-contain">
		<div class="label">
    		<span>Type a message</span>
	    </div>
	    <textarea type="text" name="message" resizable="false" />
	    <div class="send">
	    	<div class="fi-send"></div>
	    </div>
	</div>
</div>
<div class="chat-user-list-contain">
	<!-- user list -->
</div>
<div class="chat-user-profile-contain hidden">
	<!-- profile -->
</div>