<div class="search">
	<div class="label">
		<div class="fi-magnifying-glass"></div>
    	<span>Search</span>
    </div>
    <input type="text" name="search">
</div>
<div class="sort">
    <div class="label">Sort: {{sortType}} </div>
	<div class="arrow"></div>
</div>
<div class="user-list">
    {{#each model as |user|}}
        {{user-object user=user}}
    {{/each}}
</div>