<div class="user-list-contain">
    <div class="search">
        search
    </div>
    <div class="sort">
        sort
    </div>
    <div class="user-list">
        {{#each model as |user|}}
            {{user-object user=user}}
        {{/each}}
    </div>
</div>