.top-bar {
  height: 74px;
  border-bottom: 1px solid #E5EBE9;
  background: #f7faf9;
  position: relative;
}
.logo-contain {
  color: #616965;
  line-height: 74px;
  margin-left: 24px;
}
.text-buttons-contain {
  // list-style: none;
  position: absolute;
  top: 0px;
  left: 200px;
  span {
    padding: 20px;

    a {
      color: #99A09C;
      line-height: 74px;
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      color: #1CDC7F;
    }     
  }
}