@keyframes transitionMenus {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes rotateLoader {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

@-moz-keyframes rotateLoader {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

@-o-keyframes rotateLoader {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

@keyframes rotateLoader {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

@-webkit-keyframes animateLoaderInner {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-moz-keyframes animateLoaderInner {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-o-keyframes animateLoaderInner {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@keyframes animateLoaderInner {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-webkit-keyframes animateLoaderEdge {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-moz-keyframes animateLoaderEdge {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-o-keyframes animateLoaderEdge {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@keyframes animateLoaderEdge {
  0% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  40% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  60% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%); }
  80% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); }
  100% {
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 100% 100%, 75% 50%, 100% 0%); } }

@-webkit-keyframes animateTweet {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes animateTweet {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes animateTweet {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animateTweet {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes animateTweetCompose {
  0% {
    opacity: 0;
    transform: translatex(-100%); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-moz-keyframes animateTweetCompose {
  0% {
    opacity: 0;
    transform: translatex(-100%); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-o-keyframes animateTweetCompose {
  0% {
    opacity: 0;
    transform: translatex(-100%); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes animateTweetCompose {
  0% {
    opacity: 0;
    transform: translatex(-100%); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-webkit-keyframes animateTweetContent {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-moz-keyframes animateTweetContent {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-o-keyframes animateTweetContent {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes animateTweetContent {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-webkit-keyframes animateTweetContentDelay {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  33% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-moz-keyframes animateTweetContentDelay {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  33% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-o-keyframes animateTweetContentDelay {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  33% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes animateTweetContentDelay {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  33% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-webkit-keyframes animateTweetContentExtra {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  66% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-moz-keyframes animateTweetContentExtra {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  66% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-o-keyframes animateTweetContentExtra {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  66% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@keyframes animateTweetContentExtra {
  0% {
    opacity: 0;
    transform: translatex(40px); }
  66% {
    opacity: 0;
    transform: translatex(40px); }
  100% {
    opacity: 1;
    transform: translatex(0px); } }

@-webkit-keyframes animateAction {
  0% {
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    text-shadow: 0px 0px 0px; }
  75% {
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    text-shadow: 0px 0px 12px; }
  100% {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    text-shadow: 0px 0px 0px; } }

@-moz-keyframes animateAction {
  0% {
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    text-shadow: 0px 0px 0px; }
  75% {
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    text-shadow: 0px 0px 12px; }
  100% {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    text-shadow: 0px 0px 0px; } }

@-o-keyframes animateAction {
  0% {
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    text-shadow: 0px 0px 0px; }
  75% {
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    text-shadow: 0px 0px 12px; }
  100% {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    text-shadow: 0px 0px 0px; } }

@keyframes animateAction {
  0% {
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    text-shadow: 0px 0px 0px; }
  75% {
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    text-shadow: 0px 0px 12px; }
  100% {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    text-shadow: 0px 0px 0px; } }

@-webkit-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-moz-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-o-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }
