@import "./colors.scss";

.authorize-contain {
    // display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.visible {
        // display: block;
        pointer-events:initial;
        opacity: 1;
        z-index: 99;
    }
}

.authorize-background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #EDF0EF;
	z-index: 98;
	// -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
}
.authorize-modal {
	position: absolute;
    top:  calc( 50vh - 125px );
    left: calc( 50vw - 200px );
    z-index: 99;
    min-width: 320px;
    width: 50%;
    max-width: 420px;
    min-height: 250px;
    height: auto;
    // border: 1px solid $darkestwhite;
    background: white;
    border-radius: 5px;
    color: #6A6F6C;
    // box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
    overflow: hidden;

    .login-input {
        padding-top: 10px;
        margin: 0px 10px 10px 10px;
        position: relative;
        border-bottom: 1px solid #DFE4E2;
        transition: border 0.3s ease;

        &.error {
            border-bottom: 1px solid $red;
        }
    }

    .label {
        position: absolute;
        top: 19px;
        left: 21px;
        box-sizing: border-box;
        pointer-events: none;
        div,span {
            display: inline-block;
        }
        .icon {
            color: #9EA6A2;
            font-size: 14px;
            padding-top: 4px;
        }
        span {
            color: #D6DBD9;
            font-size: 12px;
            padding-left: 5px;
        }
    }

    input {
        color: #89908C;
        z-index: 3; 
        box-sizing: border-box;
        width: 100%;
        border: none;
        font-family: 'Verlag', sans-serif;
        font-size: 12px;
        background: transparent;
        outline: none;
        padding: 10px 20px 10px 37px;
    }

    .login,.character-select {
        transition: transform 0.3s ease;
        position: absolute;
        top: 62px;
        width: 100%;

        &.active {
            transform: translatex(0%);
        }
    }

    .login{
        transform: translatex(-100%);
    }
    .character-select{
        transform: translatex(100%);
    }
    .select-wrap{
        padding-top: 20px;
        height: 145px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .character-option {
        background: transparent;
        transition: background 0.3s ease;
        text-align: center;
        justify-self: center;
        height: 34px;
        width: calc( 100% - 25px );
        margin-bottom: 20px;
        &.selected {
            background: #EDF0EF;
        }
    }
}

.logo-row{
    padding: 20px 10px 10px;
    color: #1CDC7F;
    font-size: 32px;
    text-align: center;
    width: calc( 100% - 20px );

    .fi-first-aid {
        display: inline-block;
        padding: 0px 10px;
        font-size: 48px;
        position: relative;
        top: 2px;
    }
    h1 {
        display: inline-block;
    }
}
.login-wrap {
    padding: 10px;
    text-align: center;
}
.error-wrap {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: calc( 50vh + 125px);
    left: calc( 50vw - 200px);
    color: red;
    width: 50%;
    max-width: 420px;
    padding-top: 10px;
    
    &.visible {
        opacity: 1;
    }
}