@import "./mixins.scss";

@include keyframes(animateAvatar) {  // this doesn't adjust the height.
    0% { 
        opacity: 0; 
        // transform: scale( 0.5, 0.5);
    }
    100% { 
        opacity: 1; 
        // transform: scale(1,1);
    }
}

@include keyframes(animateMessage) {  // this doesn't adjust the height.
    0% { 
        opacity: 0; 
        transform: scale( 0.5, 0.5);
    }
    100% { 
        opacity: 1; 
        transform: scale(1,1);
    }
}

.chat-message{
	position: relative;
	background: white;
	border-radius: 5px;
	margin: 10px 20px 10px 60px;
	width: auto;
    padding: 10px 11px 5px;
	font-size: 13px;
	white-space: pre-wrap;
    animation: animateAvatar ease;
    animation-duration: 300ms;

   	&.mine {
		border: 1px solid #1cd67c;
   	}

   	&.ping {
		border: 1px solid #1cd67c;
   	}

   	&.friend {
   		.avatar-contain {
			border: 2px solid rgba(28, 214, 124, 1);
   		}
   	}
   	&.bookmark {
   		.avatar-contain {
			border: 2px solid rgba(28, 214, 124, 1);
   		}
   	}
	
	.avatar-contain {
		position: absolute;
		left: -40px;
		// top: 18px;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		background: black;
    	box-shadow: 0px 4px 14px rgba(0, 0, 0, .1);
	}
	
	.user-name{
		color: #1cd67c;
		font-weight: 600;
	}
	.message {
		display: inline-block;
		// padding-top: 3px;
	    color: #89908C;
	    line-height: 22px;
	    width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	    @include bbcodeStyles();
	}
	.timestamp {
		position: absolute;
	    top: 10px;
	    right: 10px;
		text-align: right;
		font-size: 13px;
	    color: #A6B2AD;
	}
}
.system-message {
    font-size: 13px;
    margin-left: 60px;
    color: #89908C;
    padding: 8px 11px;
    border-radius: 5px;
}