@-webkit-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-moz-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-o-keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes animateMenu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes animateTyping {
  0% {
    transform: translatey(-3px); }
  50% {
    transform: translatey(5px); }
  100% {
    transform: translatey(-3px); } }

@-moz-keyframes animateTyping {
  0% {
    transform: translatey(-3px); }
  50% {
    transform: translatey(5px); }
  100% {
    transform: translatey(-3px); } }

@-o-keyframes animateTyping {
  0% {
    transform: translatey(-3px); }
  50% {
    transform: translatey(5px); }
  100% {
    transform: translatey(-3px); } }

@keyframes animateTyping {
  0% {
    transform: translatey(-3px); }
  50% {
    transform: translatey(5px); }
  100% {
    transform: translatey(-3px); } }

.chat-wrap {
  width: 100%;
  height: 100%;
  position: relative; }

.chat-window {
  background: #EDF0EF;
  position: absolute;
  top: 75px;
  left: 341px;
  height: calc( 100vh - 75px);
  width: calc( 100% - 341px); }
  .chat-window.showWidgetMenu .widgetMenu {
    -webkit-animation: animateMenu ease;
    animation: animateMenu ease;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    opacity: 1;
    pointer-events: initial; }
  .chat-window.hideTextLabel .input-contain .label {
    opacity: 0; }

.no-chat {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: calc( 50% - 50px);
  left: calc( 50% - 100px);
  text-align: center;
  color: #6A6F6C;
  z-index: 97;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: initial;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
  .no-chat.hidden {
    opacity: 0;
    pointer-events: none; }

.chat-header {
  height: 45px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #E5EBE9;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  font-size: 13px; }
  .chat-header .chat-header-wrap {
    width: calc( 100% - 100px); }
  .chat-header .chat-title {
    font-weight: 600;
    text-align: center;
    width: 100%;
    color: #1cd67c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .chat-header .chat-subtitle {
    padding-top: 4px;
    text-align: center;
    width: 100%;
    color: #6A6F6C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .chat-header .chat-subtitle strong {
      font-weight: 600; }
    .chat-header .chat-subtitle em {
      font-style: italic; }
    .chat-header .chat-subtitle sub, .chat-header .chat-subtitle sup {
      font-size: 75%;
      line-height: 0;
      position: relative; }
    .chat-header .chat-subtitle sup {
      top: -0.5em; }
    .chat-header .chat-subtitle sub {
      bottom: -0.25em; }
    .chat-header .chat-subtitle a {
      color: #99A09C;
      transition: color 0.3s ease; }
      .chat-header .chat-subtitle a:hover {
        color: #a4b1ad; }
    .chat-header .chat-subtitle .action {
      font-weight: 600; }
  .chat-header .settings-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #9EA6A2;
    transition: color 0.3s ease;
    cursor: pointer; }
    .chat-header .settings-button:hover {
      color: #6A6F6C; }
    .chat-header .settings-button .fi-widget {
      width: 100%;
      height: 100%;
      font-size: 18px;
      line-height: 45px; }

.chat-contain {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: calc( 100% - 140px);
  transition: width 0.3s ease,opacity 0.3s ease;
  opacity: 1;
  pointer-events: initial; }
  .chat-contain.hidden {
    opacity: 0;
    pointer-events: none; }
  .chat-contain.full {
    width: 100%; }
  .chat-contain .input-contain {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 20px;
    height: 100px;
    background: white;
    border-radius: 4px;
    width: calc( 100% - 40px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #E5EBE9; }
    .chat-contain .input-contain .label {
      position: absolute;
      top: 10px;
      left: 15px;
      box-sizing: border-box;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.3s ease,transform 0.3s ease; }
      .chat-contain .input-contain .label div, .chat-contain .input-contain .label span {
        display: inline-block; }
      .chat-contain .input-contain .label span {
        color: #D6DBD9;
        font-size: 12px;
        padding-left: 5px; }
      .chat-contain .input-contain .label.hidden {
        transform: translateX(25px);
        opacity: 0; }
    .chat-contain .input-contain textarea {
      resize: none;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      outline: none;
      padding: 9px 20px 6px;
      font-family: 'Verlag', sans-serif;
      font-size: 13px;
      line-height: 22px;
      color: #6A6F6C; }
  .chat-contain .dropdown {
    top: 34px; }

.messages-contain {
  width: 100%;
  position: absolute;
  top: 45px;
  height: calc( 100% - 45px);
  overflow-y: scroll; }
  .messages-contain .input-padding {
    height: 121px; }

.chat-user-list-contain, .chat-user-profile-contain {
  position: absolute;
  right: 0px;
  width: 140px;
  height: 100%;
  border-left: 1px solid #E5EBE9;
  top: 0px;
  background: white;
  opacity: 1;
  transition: opacity 0.3s ease,transform 0.3s ease;
  pointer-events: initial;
  overflow-y: scroll; }
  .chat-user-list-contain.hidden, .chat-user-profile-contain.hidden {
    opacity: 0;
    pointer-events: none; }
  .chat-user-list-contain.full, .chat-user-profile-contain.full {
    transform: translate(140px, 0px); }

.chat-user-list-contain .list-user {
  border-radius: 5px;
  margin: 10px;
  background: white;
  position: relative;
  border: 1px solid #E5EBE9;
  cursor: pointer; }
  .chat-user-list-contain .list-user .user-name {
    font-size: 13px;
    padding-left: 22px;
    line-height: 40px;
    font-weight: 600;
    font-size: 13px;
    color: #6A6F6C;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }

.widgetMenu {
  position: absolute;
  top: 22px;
  right: 22px;
  background: #FFF;
  border: 1px solid #E5EBE9;
  border-bottom: none;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
  .widgetMenu .list-icon {
    display: inline-block;
    padding-right: 8px; }
  .widgetMenu .list-item {
    font-weight: 600;
    font-size: 12px;
    padding: 12px;
    border-bottom: 1px solid #E5EBE9;
    transition: background 0.3s ease;
    cursor: pointer;
    color: #A6B2AD; }
    .widgetMenu .list-item:hover {
      background: #F1F3F2; }

.typing-indicator {
  background: #FFF;
  border: 0px solid transparent;
  width: 50px;
  border-radius: 4px;
  padding: 0px;
  margin: 0px 20px;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  height: 0px;
  opacity: 0px;
  overflow: hidden;
  transition: transform 0.3s ease, height 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, margin 0.3s ease; }
  .typing-indicator.visible {
    padding: 5px;
    border: 1px solid #DFE4E2;
    margin: 20px;
    opacity: 1;
    height: 25px;
    transform: scale(1); }
    .typing-indicator.visible div {
      animation: animateTyping 1.3s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95); }
    .typing-indicator.visible .dot-one {
      animation-delay: 0s; }
    .typing-indicator.visible .dot-two {
      animation-delay: 0.15s; }
    .typing-indicator.visible .dot-three {
      animation-delay: 0.3s; }
  .typing-indicator.paused {
    padding: 5px;
    border: 1px solid #DFE4E2;
    margin: 20px;
    opacity: 1;
    height: 25px;
    transform: scale(1); }
  .typing-indicator div {
    margin-right: 2px;
    width: 4px;
    height: 4px;
    background: #A6B2AD;
    border-radius: 10px;
    display: inline-block; }
