
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    } 
}
@include keyframes(animateMenu) {  // this doesn't adjust the height.
    0% { 
        opacity: 0; 
        -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    100% { 
        opacity: 1; 
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@include keyframes(animateTyping) {  // this doesn't adjust the height.
    0% { 
        transform: translatey(-3px); 
    }
    50% {
    	transform: translatey(5px);
    }
    100% { 
        transform: translatey(-3px);
    }
}
.chat-wrap{
	width: 100%;
	height: 100%;
	position: relative;
}
.chat-window {
	background: #EDF0EF;

	position: absolute;
    top: 75px;
    left: 341px;
    height: calc( 100vh - 75px);
    width: calc( 100% - 341px);

	 &.showWidgetMenu {
        .widgetMenu {
	        -webkit-animation: animateMenu ease;
	        animation: animateMenu ease;
	        -webkit-animation-duration: 300ms;
	        animation-duration: 300ms;
	        opacity: 1;
	        pointer-events: initial;
	    }
    }
    &.hideTextLabel {
    	.input-contain .label {
    		opacity: 0;
    	}
    }
}
.no-chat {
	width: 200px;
	height: 50px;
	border-radius: 4px;
	background: white;
	position: absolute;
	top: calc( 50% - 50px );
	left: calc( 50% - 100px );;
	text-align: center;
	color: #6A6F6C;
	z-index: 97;
	display: flex;
	vertical-align: center;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.3s ease;
	pointer-events: initial;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}
.chat-header {
	height: 45px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #E5EBE9;
	display: flex;
	vertical-align: center;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	.chat-header-wrap {
		width: calc( 100% - 100px );
	}
	.chat-title{
		font-weight: 600;
		text-align: center;
		width: 100%;
		color: #1cd67c;
	    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.chat-subtitle {
		// font-size: 11px;
		padding-top: 4px;
		// font-weight: 600;
		text-align: center;
		width: 100%;
		color: #6A6F6C;
	    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.settings-button{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 45px;
		height: 45px;
		text-align: center;
	    color: #9EA6A2;
	    transition: color 0.3s ease;
	    cursor: pointer;

		&:hover {
		    color: #6A6F6C;
		}

		.fi-widget {
			width: 100%;
			height: 100%;
    		font-size: 18px;
    		// position: relative;
    		line-height: 45px;    		
		}
	}
}
.chat-contain {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: calc( 100% - 140px );
	transition: width 0.3s ease,opacity 0.3s ease;
	opacity: 1;
	pointer-events: initial;

	// TODO: gradient on top of scroll-previous-messages

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	&.full {
		width: 100%;
	}

	.input-contain {
		position: absolute;
		bottom: 0px;
		left: 0px;
		// border-top: 1px solid black;
		margin: 20px;
		height: 100px;
		background: white;
		border-radius: 4px;
		width: calc( 100% - 40px );
    	box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
		border: 1px solid #E5EBE9;

		.label {
			position: absolute;
			top: 10px;
    		left: 15px;
			box-sizing: border-box;
			pointer-events: none;
			div,span {
				display: inline-block;
			}
			.fi-magnifying-glass {
				color: #9EA6A2;
				font-size: 14px;
			}
			span {
				color: #D6DBD9;
				font-size: 12px;
				padding-left: 5px;
			}
		}
		textarea {
		    resize: none;
			box-sizing: border-box;
			width: 100%;
		    height: 100%;
			border: none;
			background: transparent;
			outline: none;
			padding: 10px 20px;
   			font-family: 'Verlag', sans-serif;
   			font-size: 12px;
		}
	}
}
.messages-contain {
	width: 100%;
	position: absolute;
	top: 45px;
    height: calc( 100% - 45px );
    overflow-y: scroll;

    .input-padding {
    	height: 121px;
    }
}
.chat-user-list-contain,.chat-user-profile-contain {
	position: absolute;
	right: 0px;
	width: 140px;
	height: 100%;
	border-left: 1px solid #E5EBE9;
	top: 0px;
	background: white;
	opacity: 1;
	transition: opacity 0.3s ease;
	pointer-events: initial;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}
.widgetMenu {
    position: absolute;
    top: 22px;
    right: 22px;
    background: #FFF;
    border: 1px solid #E5EBE9;
    border-bottom: none;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    -webkit-transform-origin : 50% 0%;
    -moz-transform-origin : 50% 0%;
    -o-transform-origin : 50% 0%;
    -ms-transform-origin : 50% 0%;
    transform-origin : 50% 0%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);

    .list-icon  {
        display: inline-block;
        padding-right: 8px;
    }
    .list-item {
        font-weight: 600;
    	font-size: 12px;
        padding: 12px;
        border-bottom: 1px solid #E5EBE9;
        transition: background 0.3s ease;
        cursor: pointer;
        color: #A6B2AD;
        &:hover {
            background: #F1F3F2;
        }
    }
}
.typing-indicator {
	background: #FFF;
	border: 0px solid transparent;
	width: 50px;
	border-radius: 4px;
	padding: 0px;
	margin: 0px 20px;
	text-align: center;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
	transform: scale(0);
	height: 0px;
	opacity: 0px;
	overflow: hidden;
	transition: transform 0.3s ease, height 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, margin 0.3s ease;
	&.visible {
		padding: 5px;
		border: 1px solid #DFE4E2;
		margin: 20px;
		opacity: 1;
		height: 25px;
		transform: scale(1);
		div {
			animation: animateTyping 1.3s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
		}
		.dot-one{
		    animation-delay: 0s;
		}
		.dot-two {
		    animation-delay: 0.15s;
		}
		.dot-three {
		    animation-delay: 0.3s;
		}
	}

	div {
		margin-right: 2px;
		width: 4px;
		height: 4px;
		background: #A6B2AD;
		border-radius: 10px;
		display: inline-block;
	}
}