@import "./colors.scss";

@mixin grow(){
    @keyframes transitionMenus {
      0% {
        display: none;
        opacity: 0;
      }
      1% {
        display: block;
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
}

@mixin webkitScrollbar() {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar:horizontal {
        height:10px;
    }
    ::-webkit-scrollbar-track {
        background:$black80;
        border-left: none;// 1px solid #ccc;
        // border-right: 2px transparent solid;
    }
    ::-webkit-scrollbar-track:horizontal {
        border-top: none;//1px solid #ccc;
    }
    ::-webkit-scrollbar-thumb {
        // margin: 2px;
        background-color: #424242;
        border-radius:5px;
        // transition:background 0.3s ease;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #AFAFAF;
    }
    ::-webkit-scrollbar-corner{
        background:$black80; //#eaeaea;
    }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    } 
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin bbcodeStyles() {
    // bbcode styles
    strong {
        font-weight: 600;
    }
    em {
        font-style: italic;
    }
    sub, sup {
        font-size: 80%;
        line-height: 0;
        position: relative;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }
    a,.session {
        color: #99A09C;
        transition: color 0.3s ease;
        &:hover {
            color: #a4b1ad;
        }
    }
    .action {
        font-weight: 600;
        // color: #1cd67c;
    }
    .session-icon {
        padding-right: 4px;
    }
}