.room-list-contain {
  width: 340px;
  height: calc( 100vh - 75px);
  background: #F7FAF9;
  border-right: 1px solid #E5EBE9;
  position: absolute;
  top: 75px;
  left: 0px;
  display: none;
  overflow: hidden; }
  .room-list-contain.visible {
    display: block; }
  .room-list-contain .search {
    padding-top: 10px;
    margin: 0px 10px 10px 10px;
    position: relative;
    border-bottom: 1px solid #DFE4E2; }
    .room-list-contain .search .label {
      position: absolute;
      top: 19px;
      left: 21px;
      box-sizing: border-box;
      pointer-events: none; }
      .room-list-contain .search .label div, .room-list-contain .search .label span {
        display: inline-block; }
      .room-list-contain .search .label .icon {
        color: #9EA6A2;
        font-size: 14px;
        padding-top: 4px; }
      .room-list-contain .search .label span {
        color: #D6DBD9;
        font-size: 12px;
        padding-left: 5px; }
    .room-list-contain .search input {
      color: #89908C;
      z-index: 3;
      box-sizing: border-box;
      width: 100%;
      border: none;
      font-family: 'Verlag', sans-serif;
      font-size: 12px;
      background: transparent;
      outline: none;
      padding: 10px 20px 10px 37px; }
  .room-list-contain .sort {
    text-align: right;
    padding: 0px 20px; }
    .room-list-contain .sort .label {
      cursor: pointer;
      display: inline-block;
      text-align: right;
      color: #89908C;
      padding-right: 10px;
      font-weight: 600;
      font-size: 12px; }
  .room-list-contain .user-list {
    height: calc( 100% - 72px);
    overflow-y: scroll; }

.room-list {
  overflow-y: scroll;
  top: 20px;
  position: relative;
  height: calc( 100% - 99px); }

.no-rooms {
  padding-top: 20px;
  text-align: center;
  color: #6A6F6C;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: initial;
  overflow: visible; }
  .no-rooms.hidden {
    display: none; }
