.room-object {
  width: 300px;
  height: 136px;
  border-radius: 5px;
  margin: 20px;
  background: white;
  position: relative;
  border: 1px solid #E5EBE9;
  cursor: pointer; }
  .room-object.selected {
    background: #1cd67c;
    border: 1px solid #1cd67c;
    box-shadow: 0px 0px 14px #ccc; }
    .room-object.selected .user-icon-contain .user-icon {
      color: #53E09C;
      -webkit-text-stroke: 1px #D2f7e5; }
    .room-object.selected .details-contain .user-name, .room-object.selected .details-contain .snippet, .room-object.selected .details-contain .message-type {
      color: #f0fbf3; }
      .room-object.selected .details-contain .user-name a, .room-object.selected .details-contain .snippet a, .room-object.selected .details-contain .message-type a {
        color: #f0fbf3; }
        .room-object.selected .details-contain .user-name a:hover, .room-object.selected .details-contain .snippet a:hover, .room-object.selected .details-contain .message-type a:hover {
          color: #fff; }
      .room-object.selected .details-contain .user-name .action, .room-object.selected .details-contain .snippet .action, .room-object.selected .details-contain .message-type .action {
        color: #f0fbf3; }
    .room-object.selected .timestamp {
      color: #f0fbf3; }
  .room-object.short {
    height: 68px; }
  .room-object .avatar-contain {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: black;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3); }
  .room-object .user-icon-contain {
    position: absolute;
    left: 18px;
    top: 63px;
    text-align: center;
    width: 30px;
    height: 30px; }
    .room-object .user-icon-contain .user-icon {
      padding-bottom: 12px;
      color: #FAFBFB;
      -webkit-text-stroke: 1px #e9edeb; }
      .room-object .user-icon-contain .user-icon.active {
        color: #FFC655;
        -webkit-text-stroke: 1px #edba54; }
  .room-object .details-contain {
    position: relative;
    left: 60px;
    top: 17px;
    font-size: 13px;
    width: calc( 100% - 80px); }
    .room-object .details-contain .user-name {
      color: #1cd67c;
      font-weight: 600; }
    .room-object .details-contain .message-type {
      padding-top: 9px;
      font-weight: 600;
      color: #6A6F6C;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .room-object .details-contain .snippet {
      padding-top: 4px;
      color: #A6B2AD;
      line-height: 22px;
      height: 65px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .room-object .details-contain .snippet strong {
        font-weight: 600; }
      .room-object .details-contain .snippet em {
        font-style: italic; }
      .room-object .details-contain .snippet sub, .room-object .details-contain .snippet sup {
        font-size: 75%;
        line-height: 0;
        position: relative; }
      .room-object .details-contain .snippet sup {
        top: -0.5em; }
      .room-object .details-contain .snippet sub {
        bottom: -0.25em; }
      .room-object .details-contain .snippet a {
        color: #99A09C;
        transition: color 0.3s ease; }
        .room-object .details-contain .snippet a:hover {
          color: #a4b1ad; }
      .room-object .details-contain .snippet .action {
        font-weight: 600;
        color: #1cd67c; }
  .room-object .timestamp {
    position: absolute;
    top: 17px;
    right: 20px;
    text-align: right;
    font-size: 13px;
    color: #A6B2AD; }
