.room-list-contain {
	width: 340px;
	height: calc( 100vh - 75px);
	// border: 1px solid;
	background: #F7FAF9;
	border-right: 1px solid #E5EBE9;
	position: relative;

 	&.showSortMenu {
        .sortMenu {
	        -webkit-animation: animateMenu ease;
	        animation: animateMenu ease;
	        -webkit-animation-duration: 300ms;
	        animation-duration: 300ms;
	        opacity: 1;
	        pointer-events: initial;
	    }
    }

	&.hideSearchLabel{
		.search .label {
			span {
				opacity: 0;
			}
		}
	}

	.search {
		padding-top: 10px;
		margin: 0px 10px 10px 10px;
		position: relative;
		border-bottom: 1px solid #DFE4E2;
		.label {
			position: absolute;
			top: 19px;
			left: 21px;
			box-sizing: border-box;
			pointer-events: none;
			div,span {
				display: inline-block;
			}
			.fi-magnifying-glass {
				color: #9EA6A2;
				font-size: 14px;
			}
			span {
				color: #D6DBD9;
				font-size: 12px;
				padding-left: 5px;
			}
		}
		input {
			z-index: 3;	
			box-sizing: border-box;
			width: 100%;
			border: none;
		    font-family: 'Verlag', sans-serif;
			font-size: 12px;
			background: transparent;
			outline: none;
			padding: 10px 20px 10px 40px;
		}
	}	
	.sort {
		text-align: right;
		padding: 0px 20px;
		.label {
			cursor: pointer;
			display: inline-block;
			text-align: right;
			color: #89908C;
			padding-right: 10px;
			font-weight: 600;
			font-size: 12px;
		}	
	}
	.user-list {
	    height: calc( 100% - 72px );
	    overflow-y: scroll;
	}
}
.sortMenu {
    position: absolute;
    top: 74px;
    right: 18px;
    background: #FFF;
    border: 1px solid #E5EBE9;
    border-bottom: none;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    -webkit-transform-origin : 50% 0%;
    -moz-transform-origin : 50% 0%;
    -o-transform-origin : 50% 0%;
    -ms-transform-origin : 50% 0%;
    transform-origin : 50% 0%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .1);

    .list-icon  {
        display: inline-block;
        padding-right: 8px;
    }
    .list-item {
        font-weight: 600;
    	font-size: 12px;
        padding: 12px;
        border-bottom: 1px solid #E5EBE9;
        transition: background 0.3s ease;
        cursor: pointer;
        color: #A6B2AD;
        &:hover {
            background: #F1F3F2;
        }
    }
}