@import "./mixins.scss";

@include keyframes(animateToast) {  // this doesn't adjust the height.
    0% { 
        opacity: 0; 
        transform: translateX(320px);
    }
    100% { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

.toasts-contain {
	.css-1qtol5d, [data-css-1qtol5d] { // hacky overrides.
		border-radius: 5px;
		color: #6A6F6C;
	    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	    animation-duration: 0.6s;
    	animation-fill-mode: both;
    	animation-name: animateToast;
	    min-height: 19px;
	}
}

.toast-item {
	width: calc( 100% - 20px );
	height: 100%;
	color: #6A6F6C;

	.content-wrap {
	    width: calc( 100% - 75px);
	    left: 0px;
	    top: 0px;
	    font-size: 13px;
	    padding: 4px 10px 0px 10px;
	    // padding-left: 10px;
	    // padding-right: 10px;
	}
	.toast-header {
	    height: 14px;
	    // padding-top: 9px;
	    font-weight: 600;
	    color: #6A6F6C;
	    white-space: nowrap;
	    overflow: hidden;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	}
	.toast-content {
		padding-top: 2px;
	    color: #A6B2AD;
	    line-height: 22px;
	    // height: 65px;
	    overflow: hidden;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
        max-height: 70px; // limit the length of a toast body.
	    @include bbcodeStyles();
	}
	button {
		width: 65px;
		position: absolute;
		right: 0px;
		top: 0px;
		height: 100%;
		border: none;
		border-left: 1px solid;
		border-radius: 0px;
		background: none;
	}	

	&.error {
		.toast-header {
			color: #F44336;
		}
	}
}