
.chat-user-list-contain {
	position: absolute;
	right: 0px;
	width: 140px;
	height: 100%;
	border-left: 1px solid #E5EBE9;
	top: 0px;
	background: white;
	opacity: 1;
	transition: opacity 0.3s ease,transform 0.3s ease;
	pointer-events: initial;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}

	&.full {
        transform: translate(140px, 0px);
	}
	
	.search {
		padding-top: 3px;
		margin: 0px 10px 10px 10px;
		position: relative;
		border-bottom: 1px solid #DFE4E2;
		.label {
			position: absolute;
			top: 19px;
			left: 10px;
			box-sizing: border-box;
			pointer-events: none;
			div,span {
				display: inline-block;
			}
			.icon {
		        color: #9EA6A2;
	            font-size: 14px;
	            padding-top: 4px;
			}
			span {
				color: #D6DBD9;
				font-size: 12px;
				padding-left: 5px;
			}
		}
		input {
			color: #89908C;
			z-index: 3;	
			box-sizing: border-box;
			width: 100%;
			border: none;
		    font-family: 'Verlag', sans-serif;
			font-size: 12px;
			background: transparent;
			outline: none;
			padding: 17px 20px 5px 25px; //10px 20px 10px 37px;
		}
	}	
	.sort {
		text-align: right;
		padding: 0px 20px;
		.label {
			cursor: pointer;
			display: inline-block;
			text-align: right;
			color: #89908C;
			padding-right: 10px;
			font-weight: 600;
			width: 74px;
			font-size: 12px;
		    white-space: nowrap;
			overflow: hidden;
    		text-overflow: ellipsis;
		    height: 13px;
		    position: relative;
		    vertical-align: bottom;
		    // overflow: visible;
		}	
	}

	.status-icon {
	}
}
.list-user {
    border-radius: 5px;
    margin: 10px;
    background: white;
    position: relative;
    border: 1px solid #E5EBE9;
    cursor: pointer;

    &:first-child {
    	margin-top: 0px;
    }

    .avatar-contain {
	    position: absolute;
		left: 4px;
		top: 10px;
	    width: 20px;
	    height: 20px;
	    border-radius: 30px;
	    background: black;
	    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    }

    .user-name {
    	font-size: 13px;
	    padding-left: 28px;
	    padding-right: 4px;
	    line-height: 40px;
	    font-weight: 600;
	    font-size: 13px;
	    color: #6A6F6C;
	    white-space: nowrap;
	    overflow: hidden;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;	
    }
}
.users-scroll {
	overflow-y: scroll;
	width: 100%;
	top: 10px;
    position: relative;
    height: calc( 100% - 82px );
}