<div class="app-contain">
    <div class="top-bar">
        <div class="logo-contain">
            SquawkChat
        </div>
        <nav class="text-buttons-contain">
            <span class="text-button active">Messages</span>
            <span class="text-button">Channels</span>
            <span class="text-button">Search</span>
            <!-- <span class="text-button">Settings</span>             -->
        </nav>
        <div class="logged-in-user-contain">
            <div class="user-name">User Name</div>
            <div class="arrow"></div>
            <div class="avatar"></div>
        </div>
        <div class="controls-contain">
            <div class="arrow right"></div>
        </div>
    </div>

    {{user-list}}

    {{outlet}}
</div>