<div class="app-contain">
    <div class="top-bar">
        <div class="logo-contain">
            SquawkChat
        </div>
        <nav class="text-buttons-contain">
            <span class="active">{{#link-to 'messages' class="text-button"}}Messages{{/link-to}}</span>
            <span>{{#link-to 'channels' class="text-button"}}Channels{{/link-to}}</span>
            <span>{{#link-to 'search' class="text-button"}}Search{{/link-to}}</span>
            <span>{{#link-to 'search' class="text-button"}}Settings{{/link-to}}</span>            
        </nav>
        <div class="logged-in-user-contain">
            <div class="user-name">User Name</div>
            <div class="arrow"></div>
            <div class="avatar"></div>
        </div>
        <div class="controls-contain">
            <div class="arrow right"></div>
        </div>
    </div>

    {{user-list}}

    {{outlet}}
</div>